:root{
    --primary-color: #055a05;
    --secondary-color: #e9c46a;
    --accent1-color: #61a962;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman","Georgia", serif;
    --body-font: Arial,Helvetica,sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav,article{
    margin: 16px;
    padding: 8px;
}
nav {
    background-color: var(--secondary-color);
    margin: 0 auto;
}
nav a{
    margin-right: 5px;
}


header{
    background-color: var(--primary-color);
    color: var(--accent2-color)
}
.headerlogo img{
   width: 100px;
   height: 100px; 
   margin-left: 10px;
  
}
.headerlogo{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
    
}
.headerlogo nav{
    display: flex;
    align-items: center;
    margin-left: 35px;
   
}
.headerlogo nav a{
    margin-right: 15px;
}
.headerlogo img{
   margin: 0 auto;
   
}
body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer{
    width: 840px;
    margin:0 auto ;
}

.socialmedia img{
    width: 5rem;
    height: 5rem;

}
.socialmedia a{
    text-decoration: none;
}

.hero article img{
    float: right;
    width: 225px;
    box-shadow:  5px 5px 5px #625fe6;
    margin: 10px;
    padding: 5px;
    
}
.hero{
    position: relative;
}
.hero article{
    position: absolute;
}
.hero img{
    position: relative;
    display: block;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
}
.hero h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: #fff;


}
article{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    background-color: var(--accent1-color);
     background: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5));
        
    color: white;
    padding: 20px;
    
   
    top: 125px;
}
article p{
    color: #fff;
    
    opacity: 0.7;
}
section{
    
    margin-top: 20px;
    padding: 0px;
}
section h2{
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
}
section p{
    margin-top: 10px;
}

footer{
    
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-top: 1px solid #625fe6;
    
}
footer p{
    margin-top: 30px;
}
footer nav{
    
    
}
.socialmedia{
    display: grid;
    grid-template-columns: 2fr 1fr;
   
    
}
.socialmedia p{

  justify-self:right;
  align-content: center;
  margin-right: 25px;
}
  


/** History **/

.history_divides{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;

}
.history_divides img{
    max-width: 200px;
    
    
}
.history{
    grid-column: 2/3;
    text-align: center;
}
.parrafo{
    grid-row: 1/2;
}
/***Captions adventure Awaits You!!!***/

.captions{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.captions img{
    max-width: 150px;
}
.caption{
    column-gap: 10px;
    border: 1px solid #6aad96;
}
.caption img{
    margin: 0 auto;
}
