*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    max-width: 840px;
}
h1{
    color: #fff;
}
nav{
    padding: 5px;
    background-color: #4ca286;
}
nav a{
    color:#ffff ;
    padding: 5px;
    display: block;
}
aside{
  
    width:20rem ;
    margin: 10px;
    border: 1px solid rgb(0,0,0/0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    
}
aside h2{
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
    text-align: right;
}
.imagen{
    text-align: center;
    
    
}
.imagenes{
    display: flex;
    flex-direction: row-reverse
    
}
main img{
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid;
    padding: 10px;
    box-shadow:  5px 5px 5px #99d0c4;
}
p{
    padding: 0;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors */

.box{
    
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}
aside {
  width: 20em;
  text-align: center;
}
aside h2{
    position: relative;
    top: 47px;
    
    color: #fff;
}